.horizontal-scroll-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}

.react-horizontal-scrolling-menu--inner-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}

.horizontal-scroll-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  max-width: 100%;
}

.horizontal-scroll-separator {
}

.horizontal-scroll-list-item {
  display: flex;
}
